.modal__form > label {
    font-size: .875rem;
    color: #201e27;
    margin: 0 0 2%;
    margin-top: .625rem;
    font-weight: 600;
    display: block;
    line-height: 1.6;
    max-width: 42em
}
  
.modal__form > input {
    border-radius: .3125rem;
    margin-bottom: 0.6rem;
    width: 93%;
    font-size: 1rem;
    font-family: Inter;
    padding: 10px;
    outline: none;
    caret-color: #48ccac;
    border: 1px solid #ddd;
    transition: all 0.3s ease-in;
}
  
.modal__form > input:focus {
    border: 2px solid #48ccac;
}
  
.modal__form > button {
    margin: auto;
    /* margin-top: 1rem; */
    margin-bottom: 4rem;
    text-align: center;
    width: 38%;
    color: #fff;
    background: #1a73e8;
    padding: .625rem .75rem;
    cursor: pointer;
    border-radius: 5px;
    max-width: 130px;
    outline: none;
    border: none;
    display: block;
    text-align: center;
    transition: all 0.2s ease-in;
}
  
.modal__form > button:disabled {
    opacity: 0.4;
}

.modal__errors {
    color: #e0133e;
    width: 100%;
    margin-top: 0.01em;
    font-weight: bold;
    font-size: .8rem;
    display: flex;
    align-items: center;
}
  
.modal__errors > .MuiSvgIcon-root {
    color: #e0133e !important;
    font-size: 1.1rem !important;
}
  
.visiblity{
    position: relative;
    left : 90%;
}
/* .modal__form{
    min-height: 200px;
} */

@media (max-width: 415px) {
    .modal__form > button {
        margin-bottom: 6rem;
    }
}