.Eventskeleton__banner {
    margin-bottom: -35px;
}

.Eventskeleton__logoImg {
    margin-left: 15px;
    margin-bottom: 20px;
}

.Eventskeleton__bottom {
    margin-bottom: 7px;
}

.Eventskeleton__middleBottom {
    margin-bottom: 15px;
}